html,body{
    width: 100%;
    min-height: 100%;
}
body {
    background-color: #fff;
}
a{
    text-shadow: none;
    color: #428bca;
}
.flex{
    display: flex;
}
.flexOne{
    flex: 1;
}
.vertical{
    align-items: center;
}
.column{
    justify-content: center;
}
.HW{
    align-items: center;
    justify-content: center;    
}
/* login.html */
  .form-signin {
    width: 380px;
    padding: 20px;
    border-radius: 8px;
    /* margin: 0 auto; */
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .form-signin .checkbox {
    font-weight: normal;
  }

  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }

  .form-signin .form-control:focus {
    z-index: 2;
  }

  .form-signin input[type="text"] {
    margin-bottom: 20px;
  }

  .form-signin input[type="password"] {
    margin-bottom: 20px;
  }
.banner{
    background: #777;
    height: 100%;
}
.banner h1{
    color: #fff;
    text-align: center;
}
.jumbotron{
    height: 100%;
    margin: 0; 
    padding: 0;
    background: #777;
}
.code{
    background: #777;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    font-size: 26px;
}
.form-signin .row{
    margin-right: 0;
}

/* index.html */
/* header */
header{
    height: 50px;
    background-color: #2a2730;
    padding: 0 20px;
}
header .logo{
    height: 40px;
}
.user{
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    margin-right: 5px;
}
header p{
    color:#fff;
    margin: 0;
    font-size: 16px;
}
.dropdown-menu{
    min-width: 100px;
}


/* footer */
footer{
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #2a2730;
}
footer p{
    margin: 0 !important;
    line-height: 40px;
}
.wrap{
    border: 1px solid #ddd;
    padding: 20px;
}
.wrap-inner{
    border: 1px solid #ddd;
}
.wrap-table{
    /* border: 1px solid #ddd; */
    /* margin: 0 20px; */
}
.wrap .wrap-table table{
    margin: 0;
    /* border: 0; */
}
.wrap .wrap-table table th{
    /* border-top: 1px solid #ddd; */
    background: #f0f0f0;
    height: 40px;
    line-height: 40px;
}
.wrap .wrap-table table th, .wrap .wrap-table table td{
    padding:0 0 0 8px;
}
.wrap .wrap-table table td{
    height: 50px;
    line-height: 50px;
}
.wrap .wrap-table table th:nth-last-child(1), .wrap .wrap-table table td:nth-last-child(1){
    border-right:0 !important;
}
.wrap .wrap-table table th{
    border-bottom:0;
}
.NXEW input{
    width: 40px !important;
}

/* global-monitor.html */
.map-wrap{
    border: 2px solid #ddd;
    position: absolute;
    top: 100px;
    bottom: 40px;
    left: 0;
    right: 0;
}
.map-wrapinner,#allmap{
    height: 100%;
    width: 100%;
}
/* 弹窗 */
.modal-body>div{
    height: 50px;
}
.modal-body>div>p{
    margin: 0;
}